<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Product details</title>
    <style>
        div{
            border: thick solid black;
            text-align: center;
            border-left:50% ;
            border-right:50% ;
        
        }
        h1{
            text-align: center;
        }
    </style>
</head>
<body>
    <h1>Product details</h1>
    <div>
    <h3> Name:<%=product.name    %></h3>
    <h3> Price:$<%=product.price    %></h3>
    <h3>Category: <a href="/products?category=<%=product.category%>"><%=product.category %></a> </h3>
    <h3><a href="/products/<%=product.id%>/edit">Edit</a></h3>
</div>
 <a href="/products"><h4>Show all products</h4></a>
 <form action="/products/<%= product._id%>?_method=DELETE" method="POST">
  <button>delete</button>
</form>
</body>
</html>